.user-info {
    padding: 10px 0px;
}
.user-info-det {
    margin: 5px 0px;
    border-bottom: none;
}

.rating-red
{
  background-color: red !important;
}
.rating-green
{
  background-color: green !important;
}
.sec-licence{
  display: contents;
}
